p.speech {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
}
p.song{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: black;

}
p.direction{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: black;
    background-color: bisque;
}
.direction:hover{
    background-color: bisque;
    color: aqua;
}
h6.name{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  sans-serif;
   font-size: 40px;
   color: black;
}
h6.frederic {
    font-style: italic; 
    color: blue;
    font-size: 20px;
    }
h6.general{
        font-style: italic;
    color: brown;
    }
h6.mabel{
        font-style: italic;
        color: azure;
    } 
h6.chorus {
    font-size: 15px;
    color: blueviolet;
}
.singers{
    margin-left:12px;
    margin-right: 10px;
    padding:15px;
   border-left: 12px;;
    text-align: center;


}
tr:nth-child(even)
{
    background-color: blueviolet;
}
.police{
    color:chocolate;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}
.police:hover{
    background-color:darkseagreen;
    color:dimgray;
    border:dashed;
     filter:blur(4px); 
    text-shadow: 1px 1px 20px salmon;
}
.all{
    color: chartreuse;
    font-size: 25px;
    background-color: cadetblue;
}